<div class="footer">
  <div class="footer-links">
    <li class="list-inline"></li>
      <ul><a href="http://www.github.com"><i class="fab fa-github"></i></a></ul>
      <ul><a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a></ul>
      <ul><a href="http://www.facebook.com"><i class="fab fa-facebook"></i></a></ul>
      <ul><a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a></ul>
      <ul><a href="http://www.linkedin.com"><i class="fab fa-linkedin"></i></a></ul>
  </div>

    <div class="footer-copyright">
      This footer is made with <i class="fa fa-heart"></i> at Le Wagon
    </div>
</div>
